<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RSUG">
        <activity
            android:name=".QueueActivity"
            android:exported="false" />
        <activity android:name=".BlogActivity" />
        <activity android:name=".onboarding.OnBoardingOneActivity" />
        <activity android:name=".DetailActivity" />
        <activity
            android:name=".DoctorListActivity"
            android:label="@string/title_activity_doctor_list"
            android:theme="@style/Theme.RSUG.NoActionBar" />
        <activity android:name=".HospitalizationActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MedicalCheckActivity" />
        <activity android:name=".NavigationActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>